@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;

    /* Text Colors */
    --primary-foreground: 0 0% 9%;       /* #171717 */
    --primary-hover-foreground: 0 0% 3.9%; /* #0a0a0a */
    --primary-inverted-foreground: 0 0% 100%; /* #ffffff */
    --secondary-foreground: 0 0% 32.2%;    /* #525252 */
    --tertiary-foreground: 0 0% 45.1%;     /* #737373 */
    --brand-foreground: 244.5 57.9% 50.6%; /* #4338ca */
    --disabled-foreground: 0 0% 63.9%;     /* #a3a3a3 */
    --error-foreground: 0 72.2% 50.6%;     /* #dc2626 */
    --error-emphasize-foreground: 0 70% 35.3%; /* #991b1b */
    --success-foreground: 142.4 71.8% 29.2%;   /* #15803d */
    --warning-foreground: 35.5 91.7% 32.9%;    /* #a16207 */

    /* Background Colors */
    --primary: 0 0% 100%;                /* #ffffff */
    --primary-inverted: 0 0% 3.9%;       /* #0a0a0a */
    --primary-hover: 0 0% 98%;           /* #fafafa */
    --secondary: 220 13% 91%;            /* #e5e7eb */
    --secondary-hover: 216 12.2% 83.9%;  /* #d1d5db */
    --tertiary: 0 0% 98%;                /* #fafafa */
    --disabled: 0 0% 96.1%;              /* #f5f5f5 */
    --disabled-emphasize: 220 14.3% 95.9%; /* #f3f4f6 */
    --brand: 244.5 57.9% 50.6%;          /* #4338ca */
    --brand-emphasize: 243.7 54.5% 41.4%; /* #3730a3 */
    --error: 0 72.2% 50.6%;              /* #dc2626 */
    --error-emphasize: 0 73.7% 41.8%;    /* #b91c1c */
    --error-subtle: 0 85.7% 97.3%;       /* #fef2f2 */
    --success-subtle: 138.5 76.5% 96.7%; /* #f0fdf4 */
    --brand-subtle: 225.9 100% 96.7%;    /* #eef2ff */
    --neutral-subtle: 210 20% 98%;       /* #f9fafb */
    --warning-subtle: 48 100% 96.1%;     /* #fffbeb */

    /* Border */
    --success-border: 141 78.9% 85.1%;    /* #bbf7d0 */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
    min-height: 100vh;
    line-height: 1.5;


  }

}

@layer components {
  .shadow-marketing {
    box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  .page-background {
    background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  }
  .borderSmall {
    border: 0.5px solid #E5E5E5;
  }

}
